* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}



// null
body{
    background-color: #1c1f2e;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.logo{}
.title{
    text-transform: capitalize;
    font-size: 27px;
    font-weight: 400;
}
.navbar{
    margin: 57px 4px 4px 4px;
    &__item{
        padding: 13px;
    }
    &__item.active{
        background: #242736;
        border: 0.3px solid #FFFFFF;
        border-radius: 12px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            width: 31px;
            height: 3px;
            background: #8E8E8E;
            border-radius: 11px;
            left: 13px;
            bottom: 0;
        }
    }
    &__link{
        display: block;
        img{
            width: 30px;
            height: 30px;
        }
    }
}
.dark{
    margin-bottom: 30px;
}



.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__navbar{
        padding: 30px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-right: 1px solid rgba(143, 143, 143, 0.3);
    }
    &__nav{
        text-align: center;
    }
    &__logo{
        display: block;
    }
    &__main{
        width: 100%;
    }
    &__header{
        padding: 24px 60px 24px 42px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(143, 143, 143, 0.3);
        align-items: center;
        .search{
            width: 305px;
            height: 50px;
            background: #242736;
            border-radius: 9px;
            border: none;
            outline: none;
            padding: 0 15px;
            color: #fff;
        }
    }
    &__title{

    }

    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__block-1{
        padding: 55px 25px 41px 18px;
        width: 100%;
    }
    &__task{}
    &__chat{
        form {
            background: #000;
            padding: 3px;
            bottom: 0;
            width: 100%;
            input {
                 border: 0;
                 padding: 10px;
                 width: 90%;
                 margin-right: 0.5%;
            }
            button {
                width: 9%;
                background: rgb(130, 224, 255);
                border: none;
                padding: 10px;
            }
        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: 5px 10px;
                &:nth-child(odd) {
                    background: #eee;
                }
            }
      }
        }
    }
    &__block-2{
        padding: 55px 50px 41px;
        border-left: 1px solid rgba(143, 143, 143, 0.3);
        height: 100vh;
    }
    &__time{
        width: 500px;
        height: 180px;
        border-radius: 15px;
        background: url(../img/time-bg.jpg) center/cover;
        margin-bottom: 18px;
        padding: 89px 35px 21px;
        #timedisplay{
            font-size: 45px;
        }
        #calenrad{
            font-size: 15px;
        }
    }
    &__tabs{
        text-align: center;
        &::before{
            position: absolute;
            content: '';
            background: #242736;
            border-radius: 11px;
            width: 277px;
            height: 42px;
            z-index: -1;
        }
        label{
            display: inline-block;
            padding: 9px 45px;
            font-size: 15px;
            border-radius: 9px; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            margin: 3px;
            cursor: pointer;
            &:first-child{
                margin: 3px 0 3px 3px;
            }
            &:last-child{
                margin: 3px 3px 3px 0;
            }
        }
        input{
            &[type="radio"]{
                display: none;
                &:checked+label{
                    background: #0020D7;
                }
            }
            background: #242736;
            border-radius: 11px;
        }
        .tab {
            display: none;
            overflow: auto;
            max-height: 480px;
            padding-right: 21px;
            &::-webkit-scrollbar{
                width: 7px;
            }
            &::-webkit-scrollbar-track{
            }
            &::-webkit-scrollbar-thumb{
                background-color: #373549;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
        }
        #tab-btn-1:checked~#content-1,
        #tab-btn-2:checked~#content-2,
        #tab-btn-3:checked~#content-3 {
            display: block;
        }
        .tasks{
            margin-top: 22px;
            &__item{
                padding: 32px 30px 25px 35px;
                background: #242736;
                border-radius: 15px;
                position: relative;
                margin-bottom: 15px;
                .dop{
                    top: 32px;
                    right: 30px;
                    position: absolute;
                    background: #1D2030;
                    border: 0.3px solid #626060;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 3px 12.5px 13.5px;

                }
            }
            &__title{
                text-align: left;
                font-size: 19px;
                font-weight: 700;
                line-height: 22.8px;
            }
            &__date{
                margin-top: 6px;
                display: flex;
                margin-bottom: 29px;
                color: #c4c4c4;
                .date{
                    margin: 0 6px;
                }
                .done{
                    border-left: 1px #c4c4c4 solid;
                    padding: 0 6px;
                    -webkit-border-radius: 1px;
                    -moz-border-radius: 1px;
                    border-radius: 1px;
                    align-items: center;
                }
            }
            &__students{
                display: flex;
            }
            &__student{
                width: 47px;
                height: 47px;
                border-radius: 9px;
                margin-right: 8px;
            }
            .students{
                width: 47px;
                height: 47px;
                background: #0020D7;
                border-radius: 9px;
                text-align: center;
                padding: 13px;
            }
        }
    }
    &__stud{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: #c4c4c4;
        }
    }
}
